
@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');


#homepage {
  background-image: url(../src//assets/vechile/pic1.svg);
  height: 100vh;
  background-repeat: no-repeat;
}

#card {
  width: 28rem;
}

body {
  background-color: #f6f6f6;
  font-family: 'Gugi', cursive;
}
