
@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');


#homepage {
  background-image: url(../src/assets/vechile/landing1.jpg);
  background-size: cover;
  background-position: center;
  position: fixed;
  min-width: 100%;
  min-height: 100%;
}

#btn-landing {
  font-weight: bold;
  color: white;
  background-color: transparent;
}


#btn-landing:hover {
  transition: all 0.3s ease-out;
  background: black;
  color: white;
  transition: 250ms;
}

body {
  background: #F6F6F6;
}

