
.stepwizard-step p {
    margin-top: 10px;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;

}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}
.btn
{
        border-radius: 0px;
}
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    /* padding: 12px 0; */
    font-size: 20px;
    line-height: 1.428571429;
    border-radius: 5px;
    margin-top: -14px;
    border: solid 3px #ccc !important;
    opacity:1 !important;
     -webkit-box-shadow:inset 0px 0px 0px 3px #fff !important;
     -moz-box-shadow:inset 0px 0px 0px 3px #fff !important;
    -o-box-shadow:inset 0px 0px 0px 3px #fff !important;
   -ms-box-shadow:inset 0px 0px 0px 3px #fff !important;
   box-shadow:inset 0px 0px 0px 3px #fff !important;
      backgournd-color:#428bca;
}

















.chat{
    width: 100%;
    height: auto;
    flex: 50%;
    margin-top: auto;
    /* /* margin-bottom: auto;  */
}
.card-chat{
    height: 750px;
    /* border-radius: 15px !important; */
    background-color:#f6f6f6 !important;
}
.contacts_body{
    padding:  0.75rem 0 !important;
    overflow-y: auto;
    white-space: nowrap;
}
.msg_card_body{
    overflow-y: auto;
}
.card-header-chat{
    border-radius: 15px 15px 0 0 !important;
    border-bottom: 0 !important;
}
.card-footer-chat{
    border-radius: 0 0 15px 15px !important;
    border-top: 0 !important;
}
.search{
    border-radius: 15px 0 0 15px !important;
    background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color:white !important;
}
.search:focus{
     box-shadow:none !important;
   outline:0px !important;
}

.chat-container {
  box-shadow: 0px 10px 20px 0px #666;
    display: grid;
    grid:
        'search-container chat-title' 71px
        'conversation-list chat-message-list' 1fr
        'new-message-container chat-form' 78px
        / 275px 1fr;
    margin: 5% 10%;
    /* height: 55vh; */
    background: #fff;
    border-radius: 10px;
}

.map-container {
    margin: 0 10%;
}

.conversation-list {
    grid-area: conversation-list;
}

.search-container,
.conversation-list,
.new-message-container {
    background: #0048aa;
}

.search-container {
    display: grid;
    align-items: center;
    grid-area: search-container;
    padding: 0 20px;
    border-radius: 10px 0 0 0;
    box-shadow:  0 1px 3px -1px rgba(0, 0, 0, 0.75);
    z-index: 1;
}

.search-container input {
    color: #eee;
    outline: none;
    font-weight: bold;
    border-radius: 2px;
    height: 30px;
    border: 0;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.4rem;
    background-position: 15px center;
    background-size: 20px 20px;
    background: rgba(255, 255, 255, 0.3)
}

.search-container input::placeholder {
    color: #ddd;
    font-weight: bold;
}

.new-message-container {
    grid: 40px /40px ;
    align-content: center;
    grid-area: new-message-container;
    border-top: 1px solid rgba(0,0,0,0.25);
    border-radius: 0, 0, 0, 10px;
    padding: 0 15px;
}

.new-message-container a{
    display: grid;
    place-content: center center;
    background: #eee;
    border-radius: 100%;
    color: #002c88;
    text-decoration: none;
    font-size: 3.6rem;
}

.chat-title,
.chat-form {
    background: #eee;
}

.chat-message-list {
    grid-area: chat-message-list;
}

.chat-title {
    grid-area: chat-title;
    color: #0048aa;
    font-weight: bold;
    font-size: 2.0rem;
    border-radius: 0 10px 0 0;
    padding: 10px 42px;
    box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.75);
}

.chat-form {
    display: grid;
    grid-gap: 15px;
    grid-area: chat-form;
    /* border-radius: 0 10px 0 0; */
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    align-items: center;
    padding-left: 42px;
    padding-right: 22px;
}

.chat-form input {
    outline: none;
    padding: 15px;
    border: 2px solid #ddd;
    color: #330;
    border-radius: 6px;
}

.contact-in {
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    /* flex-wrap: wrap; */
    padding: 10px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 0px 10px 0px #666;
}

.map {
    width: 100%;
    height: auto;
    /* flex: 50%; */
}

.map-div iframe {
    height: 100%;
    width: 100%;
}

.map-div {
    height: 100%;
}



.type_msg{
    background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color:white !important;
    height: 60px !important;
    overflow-y: auto;
}
    .type_msg:focus{
     box-shadow:none !important;
   outline:0px !important;
}
.attach_btn{
border-radius: 15px 0 0 15px !important;
background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color: white !important;
    cursor: pointer;
}
.send_btn{
border-radius: 0 15px 15px 0 !important;
background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color: white !important;
    cursor: pointer;
}
.search_btn{
    border-radius: 0 15px 15px 0 !important;
    background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color: white !important;
    cursor: pointer;
}
.contacts{
    list-style: none;
    padding: 0;
}
.contacts li{
    width: 100% !important;
    padding: 5px 10px;
    margin-bottom: 15px !important;
}
.active-chat{
    background-color: rgba(0,0,0,0.3);
}
.user_img{
    height: 70px;
    width: 70px;
    border:1.5px solid #f5f6fa;

}
.user_img_msg{
    height: 40px;
    width: 40px;
    border:1.5px solid #f5f6fa;

}
.img_cont{
    position: relative;
    height: 70px;
    width: 70px;
}
.img_cont_msg{
    height: 40px;
    width: 40px;
}
.online_icon{
position: absolute;
height: 15px;
width:15px;
background-color: #4cd137;
border-radius: 50%;
bottom: 0.2em;
right: 0.4em;
border:1.5px solid white;
}
.offline{
background-color: #c23616 !important;
}
.user_info{
margin-top: auto;
margin-bottom: auto;
margin-left: 15px;
}
.user_info span{
font-size: 20px;
color: white;
}
.user_info p{
font-size: 10px;
color: rgba(255,255,255,0.6);
}
.video_cam{
margin-left: 50px;
margin-top: 5px;
}
.video_cam span{
color: white;
font-size: 20px;
cursor: pointer;
margin-right: 20px;
}
.msg_cotainer{
margin-top: auto;
margin-bottom: auto;
margin-left: 10px;
border-radius: 25px;
background-color: #82ccdd;
padding: 10px;
position: relative;
}
.msg_cotainer_send{
margin-top: auto;
margin-bottom: auto;
margin-right: 10px;
background-color: #78e08f;
padding: 10px;
position: relative;
}
.msg_time{
position: absolute;
left: 0;
bottom: -15px;
color: rgba(255,255,255,0.5);
font-size: 10px;
}
.msg_time_send{
position: absolute;
right:0;
bottom: -15px;
color: rgba(255,255,255,0.5);
font-size: 10px;
}
.msg_head{
position: relative;
}
#action_menu_btn{
position: absolute;
right: 10px;
top: 10px;
color: white;
cursor: pointer;
font-size: 20px;
}
.action_menu{
z-index: 1;
position: absolute;
padding: 15px 0;
background-color: rgba(0,0,0,0.5);
color: white;
border-radius: 15px;
top: 30px;
right: 15px;
display: none;
}
.action_menu ul{
list-style: none;
padding: 0;
margin: 0;
}
.action_menu ul li{
width: 100%;
padding: 10px 15px;
margin-bottom: 5px;
}
.action_menu ul li i{
padding-right: 10px;

}
.action_menu ul li:hover{
cursor: pointer;
background-color: rgba(0,0,0,0.2);
}
@media(max-width: 576px){
.contacts_card{
margin-bottom: 15px !important;
}
}